<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Settings for Karmaloop AIML Bot Server-->
    <add key="port" value="8888" />
    <add key="ip" value="0.0.0.0" />
    <add key="EOFIdentifier" value="$" />

    <!--Settings for the in-built API endpoint-->
    <add key="apiBaseUrl" value="http://*:8880/"/>
    <add key="apiTargetServer" value="localhost"/>
    <add key="apiTargetPort" value="8888"/>
  </appSettings>
  <connectionStrings>
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>