<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Settings for Karmaloop AIML Bot Server-->
    <add key="port" value="8888" />
    <add key="ip" value="0.0.0.0" />
    <add key="EOFIdentifier" value="$" />

    <!--Settings for the in-built API endpoint.-->
    <add key="apiBaseUrl" value="http://*:8880/" />
    <add key="apiTargetServer" value="localhost" />
    <add key="apiTargetPort" value="8888" />
    
    <!-- Settings for the in-built Chat UI files server. -->
    <!--Chat UI is optional and in most use cases, never used. Most developers would end up creating their own Chat UI
        within their web apps and simply call the API end points to invoke ChatBot features-->
    <!-- The value of the wwwFolder key should be the folder name where you have kept your Chat UI.
         This folder/directory must exist within the same directory where your server exe is present.
         Note: You cannot have folders/directories within the www folder. All files must be present at root to be served.-->
    <add key="wwwFolder" value="www" />
    
  </appSettings>
  <connectionStrings>
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>